{% load static %} {% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Us - TakaHub</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
  </head>

  <body>
    <section class="contact-section">
      <div class="contact-banner">
        <h2>Contact</h2>
        <p><a href="/">Home</a> > Contact</p>
      </div>

      <div class="contact-container">
        <h2 class="contact-title">Get In Touch With Us</h2>
        <p class="contact-description">
          For more information about our products & services, please feel free to
          drop us an email. Our staff always be there to help you out. Do not
          hesitate!
        </p>

        <div class="contact-content">
          <!-- Left Side Information -->
          <div class="contact-info">
            <div class="info-box">
              <span>📍</span>
              <div>
                <h4>Address</h4>
                <p>
                  Mapatano Complex,<br />Cosmas Ndeti,<br />Embakasi South,
                  Nairobi, Kenya.
                </p>
              </div>
            </div>

            <div class="info-box">
              <span>📞</span>
              <div>
                <h4>Phone</h4>
                <p>
                  Mobile: +254747855656<br>Hotline: +254746852868
                </p>
              </div>
            </div>

            <div class="info-box">
              <span>🕒</span>
              <div>
                <h4>Working Time</h4>
                <p>
                  Monday-Friday: 8:00AM - 5:00PM<br>Saturday: Closed <br> Sunday: 9:00 - 21:00
                </p>
              </div>
            </div>
          </div>

          <!-- Right Side Form -->
          <form action="{% url 'contact' %}" method="post" class="contact-form">
            {% csrf_token %}
            {% for field in form %}
              <label>{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
              {% endif %}
            {% endfor %}
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>


  </body>
</html>
{% include "footer.html" %}
